// Grid

$gutter-horizontal: 8rem;
$gutter-vertical: 4rem;
$grid-width: 114rem;

// Colors

$white-color: rgb(245, 245, 245);
$grey-color: rgb(119, 119, 119);
$dark-grey-color: rgb(65, 65, 65);
$light-orange-color: rgb(245, 170, 66);
$orange-color: rgb(252, 153, 15);
$dark-orange-color: rgb(252, 122, 15);
$purple-color: rgb(219, 0, 99);
$yellow-color: rgb(255, 201, 25);
$black-color: rgb(10, 10, 10);
